<h3>Lista de usuários</h3>
<% if @users.none? %>
  <p>Nenhum usuário cadastrado</p>
<% else %>
  <% @users.each do |user| %>
    <div>
      <%= link_to(user.id, controller: 'users', action: 'show', id: user.id) %>
    </div>
  <% end %>
<% end %>