<div class="ls-topbar ">
  <span class="ls-show-sidebar ls-ico-menu"></span>
    <%= link_to '', :back, class: 'ls-go-next' %>
  <!-- Nome do produto/marca com sidebar -->
    <h1 class="ls-brand-name">
      <a href="/" class="ls-ico-stats">
        <small>Ruby on Rails</small>
        Casa de Câmbio
      </a>
    </h1>
</div>